@import "../node_modules/node-bourbon/assets/stylesheets/bourbon";
@import "../node_modules/node-neat/assets/stylesheets/neat";
@import "myfonts/myfonts";

/**
* BREAKPOINTS
*-------------------------------------------------
*/

// Bootstrap breakpoints-------------------------------------------
$bkp_1200-up: new-breakpoint(min-width 1200px 12);
$bkp_768-979: new-breakpoint(min-width 768px and max-width 979px 12);
$bkp_0-767: new-breakpoint(max-width 767px 12);
$bkp_768-up: new-breakpoint(min-width 768px 12);
$bkp_0-480: new-breakpoint(max-width 480px 12);
$bkp_481-up: new-breakpoint(min-width 481px 12);
$bkp_navbar-collapse-width: new-breakpoint(min-width 980px 12);
$bkp_main_1024-up: new-breakpoint(min-width 1025px 12);
//-----------------------------------------------------------------

// General breakpoints ---------------------------------------------
//$bkp_mobile_0-480: new-breakpoint(max-width 480px 12);
$bkp_mobileExclude_481-up: new-breakpoint(min-width 481px);
$bkp_tablet_481-768: new-breakpoint(min-width 481px and max-width 768px 12);
//$bkp_TabletAndPhoneIncluded_0-768: new-breakpoint(max-width 768px 12);
//$bkp_TabletAndPhoneExcluded_769-up: new-breakpoint(min-width 769px 12);
//$bkp_TabletAndPhoneIncluded_769_1120: new-breakpoint(min-width 769px and max-width 1120px 12);
//$bkp_desktop_1121_full: new-breakpoint(min-width 1121px 12);
//$bkp_full_above-1200: new-breakpoint(min-width 1201px 12);


/**
* GRID SETTINGS
*------------------------------------------------
*/
$column: 150px;
$gutter: 0px;
$grid-columns: 12;
$max-width: 100%;



/**
* COLORS
*---------------------------------------------------
*/
$color_links: #151515;
$color_links_hover: rgb(199, 70, 31);
$color_background: rgb(225,198,161);
$color_dark: rgb(51, 51, 51);
$color_dark_lighten: rgb(72, 72, 72);
$color_light: rgb(237, 237, 237);


$color_bw1: #fffbda;
$color_bw2: #dec8a9;
$color_bw3: #90775c;
$color_bw4: #472e19;
$color_bw5: #1b0300;
$color_quote: rgb(197, 72, 27);
$color_red: rgb(220, 36, 16);

$color_a1: #aa9c13;
$color_a2: #b59015;
$color_a3: #9e6a12;
$color_a4: #b55e15;
$color_a5: #cc4e22;
$color_ribbon: rgb(229,149,2);




#search-box-full{
  ::-webkit-input-placeholder {
    color: $color_bw2;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $color_bw2;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color_bw2;
  }

  :-ms-input-placeholder {
    color: $color_bw2;
  }
}
