//@import "mixins"


.bottom-nav-wrapper
  +span-columns(12)
  background: #000000

  h2.block-title
    display: none

  nav.bottom-nav
    +span-columns(10)
    +shift(1)


    ul.menu
      li
        +span-columns(3)

        a
          display: inline-block
          text-align: center
          +size(100%)
          color: #f7f7f7
          font-weight: 400
          font-family: "Open Sans"
          font-variant: normal
          font-size: 14px
          padding: 10px 0
          +media(1100px)
            font-variant: small-caps
            font-size: 15px

          &:hover
            background: none

          &:first-letter
            font-weight: bold

        &:first-child a
          text-align: left

        &:last-child a
          text-align: right

        span.last2
          font-weight: 600
          font-size: 1.2em