.container .jumbotron, .highlighted.jumbotron
  padding: 20px 10px


.jumbotron
  background-color: transparent
  color: inherit
  font-size: 16px
  font-weight: normal
  line-height: 1.5
  margin-bottom: 10px
  padding: 20px 10px

  .region >section
    background-color: rgba(0,0,0, .7)
    padding: 20px 10px

  ul
    list-style: none
    margin: 0
    padding: 0

    li
      display: inline-block
      margin-bottom: 7px
      margin-right: 15px