//@import "mixins"

body.page-our-distillers

  .page-header
    font-size: 48px

  #container .row .col-sm-12
    background: rgba(black, .7)
    padding: 2em

  .view.view-our-distillers

    background: none

    .view-content
      //display: -webkit-box
      //display: -moz-box
      //display: -ms-flexbox
      //display: -webkit-flex
      //display: flex
      //
      //
      //display: -webkit-flex
      //-webkit-flex-direction: row-reverse
      //display: flex
      //flex-direction: column
      //
      //display: -webkit-flex
      //-webkit-flex-wrap: wrap
      //display: flex
      //flex-wrap: wrap

      +columns(1)

      height: auto
      +media(568px)
        height: 3000px
        +columns(2)
      +media(1200px)
        height: 1500px
        +columns(4)
      +media(1900px)
        +columns(6)
        height: 1200px

      .row-outer
        //max-width: 200px
        //+flex(2)
        background: none
        padding: 0
        margin-bottom: 20px

        .field-content
          a
            font-family: "IM Fell DW Pica"
            color: $color_bw1
            font-variant: small-caps
            font-weight: 600
            font-size: 16px


        h3
          font-style: normal
          font-family: "Old Standard TT"
          font-size: 2.4em
          font-weight: 600
          margin: 3px 0



