@import "mixins"

body.page-faq

  .main-container .row section.col-sm-12
    background: rgba(black, 0.7)
    padding: 2em

    .page-header
      font-size: 26px
      border: none
      +media(1024px)
        font-size: 48px



.view-faq

  .view-content

    .row-wrapper
      font-family: "IM Fell DW Pica"
      margin-bottom: 2em

      .views-row
        background: none
        .views-field-title
          font-size: 1.8em
          margin-bottom: 1em
          line-height: 1.1em
          +media(1024px)
            font-size: 2.1em

        .views-field-body
          background: none
          font-size: 18px
          position: relative
          line-height: 1.3em
          text-align: justify
          .field-content::first-letter
            font-size: 260%
            float: left
            position: absolute
            margin-top: 5px
            margin-right: 5px

          +media(1024px)
            padding-left: 40px


  +media(1400px)
    +column-count(3)
    +column-gap(40px)
    .row-wrapper
      display: inline-block

