@import "base";

/**
* GENERAL MIXINS
*------------------------------------------------------
*/
@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  overflow: hidden;

}

@mixin reset-rendering(){
  background: none;
  border: none;
  * {
    background: none;
    border: none;
  }
}

@mixin reset-box() {
  margin: 0;
  padding: 0;
  float: none;
  text-align: inherit;
  vertical-align: inherit;
  max-width: 100%;
  max-height: 100%;

}

@mixin nav-button-style{
  background: black;
  display: inline-block;
  padding: 0;
  @include size(45px);
  color: white;
  margin: 0px;

  i {
    @include size(45px);
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: 45px;
  }
}



/* Effect 1 */
@mixin icon-style-1(

$size: 110px,
$line-height: 110px, $margin1: 18px, $margin2: 30px,
$text-color: #000, $text-hover-color: white, $bg-color: #fff,
$box-shadow: #fff,$effect_Nr: 1

) {

  display: inline-block;
  cursor: pointer;
  margin: $margin1 $margin2;
  line-height: $line-height;
  width: $size;
  height: $size;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: $text-color;

  background: rgba(255, 255, 255, .1);
  -webkit-transition: background 0.2s, color 0.2s;
  -moz-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;

  &:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px $box-shadow;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
  }

  /* Effect 1a */
  @if($effect_Nr == 1) {
    &:hover {
      background: rgba(255, 255, 255, 1);
      color: $text-hover-color;
    }

    &:hover:after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  /* Effect 1b */
  @if $effect_Nr == 2 {
    &:hover {
      background: rgba(255,255,255, 1);
      color: $text-hover-color;
    }

    &:after {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }

    &:hover:after {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

}


/* Effect 3 */
@mixin icon-style-3(
$font-size: 18, $size: 110px, $line-height: 95px,
$margin1: 18px, $margin2: 30px,
$text-color: #fff, $text-hover-color: white,
$bg-color: gray, $box-shadow: white) {

  font-family: Arvo;
  font-size: $font-size;
  cursor: pointer;
  margin: $margin1 $margin2;
  width: $size;
  height: $size;
  line-height: $line-height;
  border-radius: 50%;
  text-align: center;
  position: relative;
  z-index: 1;
  color: $text-color;
  box-shadow: 0 0 0 4px $box-shadow;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;

  &:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: $bg-color;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
    -moz-transition: -moz-transform 0.2s, opacity 0.3s;
    transition: transform 0.2s, opacity 0.3s;
  }

  &:before {
    speak: none;
    //font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }

  &:hover {
    color: $text-hover-color;
  }

  &:hover:after {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }

}