
body.cart-confirmation-in

  .alert
    background: none
    padding: 0
    margin: 0
    border: none
    height: 0
    position: absolute
    >a.close
      display: none

    ul
      position: inherit
      padding: 0
      height: 0

#cart-confirmation

  .modal-dialog
    font-family: "Open Sans"

    .modal-header
      button.close
        border: 1px solid darken($color_bw3, 10)
        border-radius: 3px
        background: $color_bw3
        opacity: .9
        text-shadow: none
        color: $color_bw2
        +size(25px)
        &:hover
          cursor: pointer
          background: lighten($color_bw3, 10)
      h4
        font-family: "Open Sans"
        font-weight: 600
        font-style: normal
        font-size: 22px
        +myfont($fa-var-shopping-cart)
        color: $color_bw4
        width: 200px

    .modal-body

      .view.view-confirm-message-product-display
        background: none

      .view-header
        background: $color_bw2
        border-top: 1px solid $color_bw3
        border-left: 1px solid $color_bw3
        border-right: 1px solid $color_bw3
        border-radius: 6px 6px 0 0
        padding: 10px
        p
          font-size: 1.1em
          font-weight: 600
          +myfont($fa-var-check-circle, $pad: 10px, $size: 22px, $color: $color_bw3)

      .view-content
        background: $color_bw2
        padding: 10px
        border-bottom: 1px solid $color_bw3
        border-left: 1px solid $color_bw3
        border-right: 1px solid $color_bw3
        border-radius: 0 0 6px 6px
        +outer-container

        .views-field-field-images
          margin: 1em 0
          +span-columns(12)
          .field-content
            text-align: center
          img
            margin: 0 auto

          +media(768px)
            margin: 0
            +span-columns(3)
            padding: 0px
            img
              width: 100%
              height: auto


        .views-field-commerce-product, .views-field-quantity, .views-field-commerce-total
          text-align: center
          +span-columns(12)
          padding: 2px
          font-weight: bold

          a
            color: $color_bw3
            &:hover
              color: darken($color_bw3, 15)

          [class*=label]
            font-weight: normal

        +media(768px)
          [class*=label]
            display: none

          .views-field-commerce-product
            +span-columns(4.5)
            +shift(.5)
            text-align: left

          .views-field-quantity
            +span-columns(2)

          .views-field-commerce-total
            +span-columns(2)


      .view-footer
        padding: 1em 10px
        .line-item-summary
          float: right
          font-weight: 600

    .modal-footer
      a
        margin: 6px 0
