//@import "mixins"

section[id^=block-views-products-search-block], .view-products-search, .view-show-products-related-to-the-distillery


  .view-content
    +outer-container

    .row-wrapper
      background: none
      +span-columns(12)
      +media(640px)
        +span-columns(6)
      +media(995px)
        +span-columns(4)
      +media(1025px)
        +span-columns(6)
      +media(1460px)
        +span-columns(4)
      +media(1584px)
        +span-columns(4)
      +media(1900px)
        +span-columns(3)

      .views-row
        background: $color_bw1
        margin: 1em auto
        border-radius: 0 0 8px 8px
        padding: 1em
        font-family: "Old Standard TT"
        position: relative
        overflow: hidden
        color: $color_bw3

        img
          width: 100%
          height: auto
          background: $color_bw1

        [class*=distillery], [class*=title]
          background: none
          color: $color_bw5
          text-transform: uppercase
          text-align: center
          font-size: 22px
          a
            color: $color_bw4


        [class*=title]
          background: none
          text-transform: none
          min-height: 60px

        .bottle-details
          background: none
          text-align: center

        >[class*=price]
          color: black
          font-size: 1.5em
          font-weight: 600
          text-align: center
          margin: 1.3em 0 1em
          font-family: "Open sans"

        >[class*=handling]
          position: absolute
          top: 25px
          width: 130%
          left: -15%
          +transform(rotate(-10deg))
          padding: .4em 0 .4em 20%
          font-family: "Open Sans"
          font-style: italic
          font-size: 1.5em
          line-height: 1.5em
          +background-image( linear-gradient(to right $color_a5 30%, rgba($color_a4, .8) 60%, white 92% ))
          color: $color_bw4


        div.views-field-nothing-1
          background: rgba(black, .7)
          +box-sizing(border-box)
          padding: 1em 0
          //display: none

          +media(1024px)
            position: absolute
            top: 0
            width: 100%
            left: 0
            +transition(all .6s)
            opacity: 0

          .share-widgets
            .social
              text-align: center
              font-size: 2.4em
              >div
                display: inline-block
                padding: 3px 10px
                i
                  color: $color_bw2

                  &:hover
                    color: shade($color_bw2, 30)

          form > div
            padding: 5px
            font-size: 1.3em
          .wishlist.btn, button[id*=submit]
            font-variant: small-caps
            font-size: 16px
            font-family: "Open Sans"
            background: $color_bw4
            border-color: $color_a5
            width: 96%
            padding: 5px 0
            margin: 5px 0px


            &:hover
              background: $color_red
              border-color: white

          .form-wrapper
            margin: 0

        //TODO: Might be re-enabled
        &:hover .views-field-nothing-1
          opacity: 1


section[id^=block-views-products-search-block], .view-products-search, .view-show-products-related-to-the-distillery
  &:not(.list-mode-view), &.grid-mode-view
    .view-content
      .row-wrapper
        .views-row
          max-width: 265px
          min-height: 615px
          padding-bottom: 5px
          position: relative

section[id^=block-views-products-search-block], .view-products-search, .view-show-products-related-to-the-distillery
  &.list-mode-view
    .view-content
      .row-wrapper
        .views-row
          max-width: 100%!important
          .image-container
            position: relative

.view-show-products-related-to-the-distillery
  .view-content
    .row-wrapper
      .views-row
        max-width: 285px


body[class*=node-type] section[id^=block-views-products-search-block], .view-products-search, .view-show-products-related-to-the-distillery


  .view-content
    +outer-container

    .row-wrapper
      background: none
      +span-columns(12)
      +media(640px)
        +span-columns(6)
      +media(995px)
        +span-columns(4)
      +media(1025px)
        +span-columns(6)
      +media(1365px)
        +span-columns(4)
      +media(1584px)
        +span-columns(4)
      +media(1900px)
        +span-columns(3)
