//@import "mixins"

.scroll-btn
  display: inline-block
  background: none
  position: absolute
  top: 5px
  right: 15px

  a
    //border: 2px solid $color_bw5
    //padding: 5px 10px
    //border-radius: 90%
    color: $color_bw5
    display: inline-block
    +icon-style-3(18px, 38px, 38px, 10px, 10px, $color_bw1, $color_bw3, $color_bw4, $color_bw3)




.unique-collections-region.top
  display: none
  position: relative
  +media($bkp_768-up)
    display: block

.unique-collections-region
  background: white
  position: relative
  clear: both
  padding: .5em 0
  +span-columns(12)

  >.region
    background: none
    +span-columns(10)
    +shift(1)

  .region, .block
    height: 100%

  ul:not(.contextual-links)
    padding: 0
    margin: 0
    height: 100%
    font-family: "Old Standard TT"
    font-weight: bold

    li

      margin: 15px 0
      +span-columns(12)

      &:after
        content: " "
        width: 30%
        height: 3px
        background: #000000
        position: absolute
        bottom: -5px
        left: 35%
        right: 35%

      +media(1024px)
        +span-columns(6)
        +omega(2n)
        text-align: center


      +media(1200px)
        +span-columns(3)
        +omega-reset(2n)
        +omega(4n)

        //&:first-child
        //  text-align: left
        //  &:after
        //    right: auto
        //    left: 25%
        //
        //&:last-child
        //  text-align: right
        //  &:after
        //    right: 20%
        //    left: auto

      text-transform: uppercase
      text-align: center
      font-size: 14px
      color: #000000
      display: inline-block
      position: relative






