// Variables
// --------------------------
//
//$FontAwesomePath: "icon-fonts/font" !default;
//$FontAwesomeVersion: "3.2.1" !default;
//$borderColor: #eeeeee !default;
//$iconMuted: #eeeeee !default;
//$iconLight: white !default;
//$iconDark: #333333 !default;
//$icons-li-width: (30em/14);


$fa-var-adjust: "\f042";
$fa-var-adn: "\f170";
$fa-var-align-center: "\f037";
$fa-var-align-justify: "\f039";
$fa-var-align-left: "\f036";
$fa-var-align-right: "\f038";
$fa-var-ambulance: "\f0f9";
$fa-var-anchor: "\f13d";
$fa-var-android: "\f17b";
$fa-var-angle-double-down: "\f103";
$fa-var-angle-double-left: "\f100";
$fa-var-angle-double-right: "\f101";
$fa-var-angle-double-up: "\f102";
$fa-var-angle-down: "\f107";
$fa-var-angle-left: "\f104";
$fa-var-angle-right: "\f105";
$fa-var-angle-up: "\f106";
$fa-var-apple: "\f179";
$fa-var-archive: "\f187";
$fa-var-arrow-circle-down: "\f0ab";
$fa-var-arrow-circle-left: "\f0a8";
$fa-var-arrow-circle-o-down: "\f01a";
$fa-var-arrow-circle-o-left: "\f190";
$fa-var-arrow-circle-o-right: "\f18e";
$fa-var-arrow-circle-o-up: "\f01b";
$fa-var-arrow-circle-right: "\f0a9";
$fa-var-arrow-circle-up: "\f0aa";
$fa-var-arrow-down: "\f063";
$fa-var-arrow-left: "\f060";
$fa-var-arrow-right: "\f061";
$fa-var-arrow-up: "\f062";
$fa-var-arrows: "\f047";
$fa-var-arrows-alt: "\f0b2";
$fa-var-arrows-h: "\f07e";
$fa-var-arrows-v: "\f07d";
$fa-var-asterisk: "\f069";
$fa-var-automobile: "\f1b9";
$fa-var-backward: "\f04a";
$fa-var-ban: "\f05e";
$fa-var-bank: "\f19c";
$fa-var-bar-chart-o: "\f080";
$fa-var-barcode: "\f02a";
$fa-var-bars: "\f0c9";
$fa-var-beer: "\f0fc";
$fa-var-behance: "\f1b4";
$fa-var-behance-square: "\f1b5";
$fa-var-bell: "\f0f3";
$fa-var-bell-o: "\f0a2";
$fa-var-bitbucket: "\f171";
$fa-var-bitbucket-square: "\f172";
$fa-var-bitcoin: "\f15a";
$fa-var-bold: "\f032";
$fa-var-bolt: "\f0e7";
$fa-var-bomb: "\f1e2";
$fa-var-book: "\f02d";
$fa-var-bookmark: "\f02e";
$fa-var-bookmark-o: "\f097";
$fa-var-briefcase: "\f0b1";
$fa-var-btc: "\f15a";
$fa-var-bug: "\f188";
$fa-var-building: "\f1ad";
$fa-var-building-o: "\f0f7";
$fa-var-bullhorn: "\f0a1";
$fa-var-bullseye: "\f140";
$fa-var-cab: "\f1ba";
$fa-var-calendar: "\f073";
$fa-var-calendar-o: "\f133";
$fa-var-camera: "\f030";
$fa-var-camera-retro: "\f083";
$fa-var-car: "\f1b9";
$fa-var-caret-down: "\f0d7";
$fa-var-caret-left: "\f0d9";
$fa-var-caret-right: "\f0da";
$fa-var-caret-square-o-down: "\f150";
$fa-var-caret-square-o-left: "\f191";
$fa-var-caret-square-o-right: "\f152";
$fa-var-caret-square-o-up: "\f151";
$fa-var-caret-up: "\f0d8";
$fa-var-certificate: "\f0a3";
$fa-var-chain: "\f0c1";
$fa-var-chain-broken: "\f127";
$fa-var-check: "\f00c";
$fa-var-check-circle: "\f058";
$fa-var-check-circle-o: "\f05d";
$fa-var-check-square: "\f14a";
$fa-var-check-square-o: "\f046";
$fa-var-chevron-circle-down: "\f13a";
$fa-var-chevron-circle-left: "\f137";
$fa-var-chevron-circle-right: "\f138";
$fa-var-chevron-circle-up: "\f139";
$fa-var-chevron-down: "\f078";
$fa-var-chevron-left: "\f053";
$fa-var-chevron-right: "\f054";
$fa-var-chevron-up: "\f077";
$fa-var-child: "\f1ae";
$fa-var-circle: "\f111";
$fa-var-circle-o: "\f10c";
$fa-var-circle-o-notch: "\f1ce";
$fa-var-circle-thin: "\f1db";
$fa-var-clipboard: "\f0ea";
$fa-var-clock-o: "\f017";
$fa-var-cloud: "\f0c2";
$fa-var-cloud-download: "\f0ed";
$fa-var-cloud-upload: "\f0ee";
$fa-var-cny: "\f157";
$fa-var-code: "\f121";
$fa-var-code-fork: "\f126";
$fa-var-codepen: "\f1cb";
$fa-var-coffee: "\f0f4";
$fa-var-cog: "\f013";
$fa-var-cogs: "\f085";
$fa-var-columns: "\f0db";
$fa-var-comment: "\f075";
$fa-var-comment-o: "\f0e5";
$fa-var-comments: "\f086";
$fa-var-comments-o: "\f0e6";
$fa-var-compass: "\f14e";
$fa-var-compress: "\f066";
$fa-var-copy: "\f0c5";
$fa-var-credit-card: "\f09d";
$fa-var-crop: "\f125";
$fa-var-crosshairs: "\f05b";
$fa-var-css3: "\f13c";
$fa-var-cube: "\f1b2";
$fa-var-cubes: "\f1b3";
$fa-var-cut: "\f0c4";
$fa-var-cutlery: "\f0f5";
$fa-var-dashboard: "\f0e4";
$fa-var-database: "\f1c0";
$fa-var-dedent: "\f03b";
$fa-var-delicious: "\f1a5";
$fa-var-desktop: "\f108";
$fa-var-deviantart: "\f1bd";
$fa-var-digg: "\f1a6";
$fa-var-dollar: "\f155";
$fa-var-dot-circle-o: "\f192";
$fa-var-download: "\f019";
$fa-var-dribbble: "\f17d";
$fa-var-dropbox: "\f16b";
$fa-var-drupal: "\f1a9";
$fa-var-edit: "\f044";
$fa-var-eject: "\f052";
$fa-var-ellipsis-h: "\f141";
$fa-var-ellipsis-v: "\f142";
$fa-var-empire: "\f1d1";
$fa-var-envelope: "\f0e0";
$fa-var-envelope-o: "\f003";
$fa-var-envelope-square: "\f199";
$fa-var-eraser: "\f12d";
$fa-var-eur: "\f153";
$fa-var-euro: "\f153";
$fa-var-exchange: "\f0ec";
$fa-var-exclamation: "\f12a";
$fa-var-exclamation-circle: "\f06a";
$fa-var-exclamation-triangle: "\f071";
$fa-var-expand: "\f065";
$fa-var-external-link: "\f08e";
$fa-var-external-link-square: "\f14c";
$fa-var-eye: "\f06e";
$fa-var-eye-slash: "\f070";
$fa-var-facebook: "\f09a";
$fa-var-facebook-square: "\f082";
$fa-var-fast-backward: "\f049";
$fa-var-fast-forward: "\f050";
$fa-var-fax: "\f1ac";
$fa-var-female: "\f182";
$fa-var-fighter-jet: "\f0fb";
$fa-var-file: "\f15b";
$fa-var-file-archive-o: "\f1c6";
$fa-var-file-audio-o: "\f1c7";
$fa-var-file-code-o: "\f1c9";
$fa-var-file-excel-o: "\f1c3";
$fa-var-file-image-o: "\f1c5";
$fa-var-file-movie-o: "\f1c8";
$fa-var-file-o: "\f016";
$fa-var-file-pdf-o: "\f1c1";
$fa-var-file-photo-o: "\f1c5";
$fa-var-file-picture-o: "\f1c5";
$fa-var-file-powerpoint-o: "\f1c4";
$fa-var-file-sound-o: "\f1c7";
$fa-var-file-text: "\f15c";
$fa-var-file-text-o: "\f0f6";
$fa-var-file-video-o: "\f1c8";
$fa-var-file-word-o: "\f1c2";
$fa-var-file-zip-o: "\f1c6";
$fa-var-files-o: "\f0c5";
$fa-var-film: "\f008";
$fa-var-filter: "\f0b0";
$fa-var-fire: "\f06d";
$fa-var-fire-extinguisher: "\f134";
$fa-var-flag: "\f024";
$fa-var-flag-checkered: "\f11e";
$fa-var-flag-o: "\f11d";
$fa-var-flash: "\f0e7";
$fa-var-flask: "\f0c3";
$fa-var-flickr: "\f16e";
$fa-var-floppy-o: "\f0c7";
$fa-var-folder: "\f07b";
$fa-var-folder-o: "\f114";
$fa-var-folder-open: "\f07c";
$fa-var-folder-open-o: "\f115";
$fa-var-font: "\f031";
$fa-var-forward: "\f04e";
$fa-var-foursquare: "\f180";
$fa-var-frown-o: "\f119";
$fa-var-gamepad: "\f11b";
$fa-var-gavel: "\f0e3";
$fa-var-gbp: "\f154";
$fa-var-ge: "\f1d1";
$fa-var-gear: "\f013";
$fa-var-gears: "\f085";
$fa-var-gift: "\f06b";
$fa-var-git: "\f1d3";
$fa-var-git-square: "\f1d2";
$fa-var-github: "\f09b";
$fa-var-github-alt: "\f113";
$fa-var-github-square: "\f092";
$fa-var-gittip: "\f184";
$fa-var-glass: "\f000";
$fa-var-globe: "\f0ac";
$fa-var-google: "\f1a0";
$fa-var-google-plus: "\f0d5";
$fa-var-google-plus-square: "\f0d4";
$fa-var-graduation-cap: "\f19d";
$fa-var-group: "\f0c0";
$fa-var-h-square: "\f0fd";
$fa-var-hacker-news: "\f1d4";
$fa-var-hand-o-down: "\f0a7";
$fa-var-hand-o-left: "\f0a5";
$fa-var-hand-o-right: "\f0a4";
$fa-var-hand-o-up: "\f0a6";
$fa-var-hdd-o: "\f0a0";
$fa-var-header: "\f1dc";
$fa-var-headphones: "\f025";
$fa-var-heart: "\f004";
$fa-var-heart-o: "\f08a";
$fa-var-history: "\f1da";
$fa-var-home: "\f015";
$fa-var-hospital-o: "\f0f8";
$fa-var-html5: "\f13b";
$fa-var-image: "\f03e";
$fa-var-inbox: "\f01c";
$fa-var-indent: "\f03c";
$fa-var-info: "\f129";
$fa-var-info-circle: "\f05a";
$fa-var-inr: "\f156";
$fa-var-instagram: "\f16d";
$fa-var-institution: "\f19c";
$fa-var-italic: "\f033";
$fa-var-joomla: "\f1aa";
$fa-var-jpy: "\f157";
$fa-var-jsfiddle: "\f1cc";
$fa-var-key: "\f084";
$fa-var-keyboard-o: "\f11c";
$fa-var-krw: "\f159";
$fa-var-language: "\f1ab";
$fa-var-laptop: "\f109";
$fa-var-leaf: "\f06c";
$fa-var-legal: "\f0e3";
$fa-var-lemon-o: "\f094";
$fa-var-level-down: "\f149";
$fa-var-level-up: "\f148";
$fa-var-life-bouy: "\f1cd";
$fa-var-life-ring: "\f1cd";
$fa-var-life-saver: "\f1cd";
$fa-var-lightbulb-o: "\f0eb";
$fa-var-link: "\f0c1";
$fa-var-linkedin: "\f0e1";
$fa-var-linkedin-square: "\f08c";
$fa-var-linux: "\f17c";
$fa-var-list: "\f03a";
$fa-var-list-alt: "\f022";
$fa-var-list-ol: "\f0cb";
$fa-var-list-ul: "\f0ca";
$fa-var-location-arrow: "\f124";
$fa-var-lock: "\f023";
$fa-var-long-arrow-down: "\f175";
$fa-var-long-arrow-left: "\f177";
$fa-var-long-arrow-right: "\f178";
$fa-var-long-arrow-up: "\f176";
$fa-var-magic: "\f0d0";
$fa-var-magnet: "\f076";
$fa-var-mail-forward: "\f064";
$fa-var-mail-reply: "\f112";
$fa-var-mail-reply-all: "\f122";
$fa-var-male: "\f183";
$fa-var-map-marker: "\f041";
$fa-var-maxcdn: "\f136";
$fa-var-medkit: "\f0fa";
$fa-var-meh-o: "\f11a";
$fa-var-microphone: "\f130";
$fa-var-microphone-slash: "\f131";
$fa-var-minus: "\f068";
$fa-var-minus-circle: "\f056";
$fa-var-minus-square: "\f146";
$fa-var-minus-square-o: "\f147";
$fa-var-mobile: "\f10b";
$fa-var-mobile-phone: "\f10b";
$fa-var-money: "\f0d6";
$fa-var-moon-o: "\f186";
$fa-var-mortar-board: "\f19d";
$fa-var-music: "\f001";
$fa-var-navicon: "\f0c9";
$fa-var-openid: "\f19b";
$fa-var-outdent: "\f03b";
$fa-var-pagelines: "\f18c";
$fa-var-paper-plane: "\f1d8";
$fa-var-paper-plane-o: "\f1d9";
$fa-var-paperclip: "\f0c6";
$fa-var-paragraph: "\f1dd";
$fa-var-paste: "\f0ea";
$fa-var-pause: "\f04c";
$fa-var-paw: "\f1b0";
$fa-var-pencil: "\f040";
$fa-var-pencil-square: "\f14b";
$fa-var-pencil-square-o: "\f044";
$fa-var-phone: "\f095";
$fa-var-phone-square: "\f098";
$fa-var-photo: "\f03e";
$fa-var-picture-o: "\f03e";
$fa-var-pied-piper: "\f1a7";
$fa-var-pied-piper-alt: "\f1a8";
$fa-var-pied-piper-square: "\f1a7";
$fa-var-pinterest: "\f0d2";
$fa-var-pinterest-square: "\f0d3";
$fa-var-plane: "\f072";
$fa-var-play: "\f04b";
$fa-var-play-circle: "\f144";
$fa-var-play-circle-o: "\f01d";
$fa-var-plus: "\f067";
$fa-var-plus-circle: "\f055";
$fa-var-plus-square: "\f0fe";
$fa-var-plus-square-o: "\f196";
$fa-var-power-off: "\f011";
$fa-var-print: "\f02f";
$fa-var-puzzle-piece: "\f12e";
$fa-var-qq: "\f1d6";
$fa-var-qrcode: "\f029";
$fa-var-question: "\f128";
$fa-var-question-circle: "\f059";
$fa-var-quote-left: "\f10d";
$fa-var-quote-right: "\f10e";
$fa-var-ra: "\f1d0";
$fa-var-random: "\f074";
$fa-var-rebel: "\f1d0";
$fa-var-recycle: "\f1b8";
$fa-var-reddit: "\f1a1";
$fa-var-reddit-square: "\f1a2";
$fa-var-refresh: "\f021";
$fa-var-renren: "\f18b";
$fa-var-reorder: "\f0c9";
$fa-var-repeat: "\f01e";
$fa-var-reply: "\f112";
$fa-var-reply-all: "\f122";
$fa-var-retweet: "\f079";
$fa-var-rmb: "\f157";
$fa-var-road: "\f018";
$fa-var-rocket: "\f135";
$fa-var-rotate-left: "\f0e2";
$fa-var-rotate-right: "\f01e";
$fa-var-rouble: "\f158";
$fa-var-rss: "\f09e";
$fa-var-rss-square: "\f143";
$fa-var-rub: "\f158";
$fa-var-ruble: "\f158";
$fa-var-rupee: "\f156";
$fa-var-save: "\f0c7";
$fa-var-scissors: "\f0c4";
$fa-var-search: "\f002";
$fa-var-search-minus: "\f010";
$fa-var-search-plus: "\f00e";
$fa-var-send: "\f1d8";
$fa-var-send-o: "\f1d9";
$fa-var-share: "\f064";
$fa-var-share-alt: "\f1e0";
$fa-var-share-alt-square: "\f1e1";
$fa-var-share-square: "\f14d";
$fa-var-share-square-o: "\f045";
$fa-var-shield: "\f132";
$fa-var-shopping-cart: "\f07a";
$fa-var-sign-in: "\f090";
$fa-var-sign-out: "\f08b";
$fa-var-signal: "\f012";
$fa-var-sitemap: "\f0e8";
$fa-var-skype: "\f17e";
$fa-var-slack: "\f198";
$fa-var-sliders: "\f1de";
$fa-var-smile-o: "\f118";
$fa-var-sort: "\f0dc";
$fa-var-sort-alpha-asc: "\f15d";
$fa-var-sort-alpha-desc: "\f15e";
$fa-var-sort-amount-asc: "\f160";
$fa-var-sort-amount-desc: "\f161";
$fa-var-sort-asc: "\f0de";
$fa-var-sort-desc: "\f0dd";
$fa-var-sort-down: "\f0dd";
$fa-var-sort-numeric-asc: "\f162";
$fa-var-sort-numeric-desc: "\f163";
$fa-var-sort-up: "\f0de";
$fa-var-soundcloud: "\f1be";
$fa-var-space-shuttle: "\f197";
$fa-var-spinner: "\f110";
$fa-var-spoon: "\f1b1";
$fa-var-spotify: "\f1bc";
$fa-var-square: "\f0c8";
$fa-var-square-o: "\f096";
$fa-var-stack-exchange: "\f18d";
$fa-var-stack-overflow: "\f16c";
$fa-var-star: "\f005";
$fa-var-star-half: "\f089";
$fa-var-star-half-empty: "\f123";
$fa-var-star-half-full: "\f123";
$fa-var-star-half-o: "\f123";
$fa-var-star-o: "\f006";
$fa-var-steam: "\f1b6";
$fa-var-steam-square: "\f1b7";
$fa-var-step-backward: "\f048";
$fa-var-step-forward: "\f051";
$fa-var-stethoscope: "\f0f1";
$fa-var-stop: "\f04d";
$fa-var-strikethrough: "\f0cc";
$fa-var-stumbleupon: "\f1a4";
$fa-var-stumbleupon-circle: "\f1a3";
$fa-var-subscript: "\f12c";
$fa-var-suitcase: "\f0f2";
$fa-var-sun-o: "\f185";
$fa-var-superscript: "\f12b";
$fa-var-support: "\f1cd";
$fa-var-table: "\f0ce";
$fa-var-tablet: "\f10a";
$fa-var-tachometer: "\f0e4";
$fa-var-tag: "\f02b";
$fa-var-tags: "\f02c";
$fa-var-tasks: "\f0ae";
$fa-var-taxi: "\f1ba";
$fa-var-tencent-weibo: "\f1d5";
$fa-var-terminal: "\f120";
$fa-var-text-height: "\f034";
$fa-var-text-width: "\f035";
$fa-var-th: "\f00a";
$fa-var-th-large: "\f009";
$fa-var-th-list: "\f00b";
$fa-var-thumb-tack: "\f08d";
$fa-var-thumbs-down: "\f165";
$fa-var-thumbs-o-down: "\f088";
$fa-var-thumbs-o-up: "\f087";
$fa-var-thumbs-up: "\f164";
$fa-var-ticket: "\f145";
$fa-var-times: "\f00d";
$fa-var-times-circle: "\f057";
$fa-var-times-circle-o: "\f05c";
$fa-var-tint: "\f043";
$fa-var-toggle-down: "\f150";
$fa-var-toggle-left: "\f191";
$fa-var-toggle-right: "\f152";
$fa-var-toggle-up: "\f151";
$fa-var-trash-o: "\f014";
$fa-var-tree: "\f1bb";
$fa-var-trello: "\f181";
$fa-var-trophy: "\f091";
$fa-var-truck: "\f0d1";
$fa-var-try: "\f195";
$fa-var-tumblr: "\f173";
$fa-var-tumblr-square: "\f174";
$fa-var-turkish-lira: "\f195";
$fa-var-twitter: "\f099";
$fa-var-twitter-square: "\f081";
$fa-var-umbrella: "\f0e9";
$fa-var-underline: "\f0cd";
$fa-var-undo: "\f0e2";
$fa-var-university: "\f19c";
$fa-var-unlink: "\f127";
$fa-var-unlock: "\f09c";
$fa-var-unlock-alt: "\f13e";
$fa-var-unsorted: "\f0dc";
$fa-var-upload: "\f093";
$fa-var-usd: "\f155";
$fa-var-user: "\f007";
$fa-var-user-md: "\f0f0";
$fa-var-users: "\f0c0";
$fa-var-video-camera: "\f03d";
$fa-var-vimeo-square: "\f194";
$fa-var-vine: "\f1ca";
$fa-var-vk: "\f189";
$fa-var-volume-down: "\f027";
$fa-var-volume-off: "\f026";
$fa-var-volume-up: "\f028";
$fa-var-warning: "\f071";
$fa-var-wechat: "\f1d7";
$fa-var-weibo: "\f18a";
$fa-var-weixin: "\f1d7";
$fa-var-wheelchair: "\f193";
$fa-var-windows: "\f17a";
$fa-var-won: "\f159";
$fa-var-wordpress: "\f19a";
$fa-var-wrench: "\f0ad";
$fa-var-xing: "\f168";
$fa-var-xing-square: "\f169";
$fa-var-yahoo: "\f19e";
$fa-var-yen: "\f157";
$fa-var-youtube: "\f167";
$fa-var-youtube-play: "\f16a";
$fa-var-youtube-square: "\f166";



$glass: "\f000";

$music: "\f001";

$search: "\f002";

$envelope-alt: "\f003";

$heart: "\f004";

$star: "\f005";

$star-empty: "\f006";

$user: "\f007";

$film: "\f008";

$th-large: "\f009";

$th: "\f00a";

$th-list: "\f00b";

$ok: "\f00c";

$remove: "\f00d";

$zoom-in: "\f00e";

$zoom-out: "\f010";

$off: "\f011";

$signal: "\f012";

$cog: "\f013";

$trash: "\f014";

$home: "\f015";

$file-alt: "\f016";

$time: "\f017";

$road: "\f018";

$download-alt: "\f019";

$download: "\f01a";

$upload: "\f01b";

$inbox: "\f01c";

$play-circle: "\f01d";

$repeat: "\f01e";

$refresh: "\f021";

$list-alt: "\f022";

$lock: "\f023";

$flag: "\f024";

$headphones: "\f025";

$volume-off: "\f026";

$volume-down: "\f027";

$volume-up: "\f028";

$qrcode: "\f029";

$barcode: "\f02a";

$tag: "\f02b";

$tags: "\f02c";

$book: "\f02d";

$bookmark: "\f02e";

$print: "\f02f";

$camera: "\f030";

$font: "\f031";

$bold: "\f032";

$italic: "\f033";

$text-height: "\f034";

$text-width: "\f035";

$align-left: "\f036";

$align-center: "\f037";

$align-right: "\f038";

$align-justify: "\f039";

$list: "\f03a";

$indent-left: "\f03b";

$indent-right: "\f03c";

$facetime-video: "\f03d";

$picture: "\f03e";

$pencil: "\f040";

$map-marker: "\f041";

$adjust: "\f042";

$tint: "\f043";

$edit: "\f044";

$share: "\f045";

$check: "\f046";

$move: "\f047";

$step-backward: "\f048";

$fast-backward: "\f049";

$backward: "\f04a";

$play: "\f04b";

$pause: "\f04c";

$stop: "\f04d";

$forward: "\f04e";

$fast-forward: "\f050";

$step-forward: "\f051";

$eject: "\f052";

$chevron-left: "\f053";

$chevron-right: "\f054";

$plus-sign: "\f055";

$minus-sign: "\f056";

$remove-sign: "\f057";

$ok-sign: "\f058";

$question-sign: "\f059";

$info-sign: "\f05a";

$screenshot: "\f05b";

$remove-circle: "\f05c";

$ok-circle: "\f05d";

$ban-circle: "\f05e";

$arrow-left: "\f060";

$arrow-right: "\f061";

$arrow-up: "\f062";

$arrow-down: "\f063";

$share-alt: "\f064";

$resize-full: "\f065";

$resize-small: "\f066";

$plus: "\f067";

$minus: "\f068";

$asterisk: "\f069";

$exclamation-sign: "\f06a";

$gift: "\f06b";

$leaf: "\f06c";

$fire: "\f06d";

$eye-open: "\f06e";

$eye-close: "\f070";

$warning-sign: "\f071";

$plane: "\f072";

$calendar: "\f073";

$random: "\f074";

$comment: "\f075";

$magnet: "\f076";

$chevron-up: "\f077";

$chevron-down: "\f078";

$retweet: "\f079";

$shopping-cart: "\f07a";

$folder-close: "\f07b";

$folder-open: "\f07c";

$resize-vertical: "\f07d";

$resize-horizontal: "\f07e";

$bar-chart: "\f080";

$twitter-sign: "\f081";

$facebook-sign: "\f082";

$camera-retro: "\f083";

$key: "\f084";

$cogs: "\f085";

$comments: "\f086";

$thumbs-up-alt: "\f087";

$thumbs-down-alt: "\f088";

$star-half: "\f089";

$heart-empty: "\f08a";

$signout: "\f08b";

$linkedin-sign: "\f08c";

$pushpin: "\f08d";

$external-link: "\f08e";

$signin: "\f090";

$trophy: "\f091";

$github-sign: "\f092";

$upload-alt: "\f093";

$lemon: "\f094";

$phone: "\f095";

$check-empty: "\f096";

$bookmark-empty: "\f097";

$phone-sign: "\f098";

$twitter: "\f099";

$facebook: "\f09a";

$github: "\f09b";

$unlock: "\f09c";

$credit-card: "\f09d";

$rss: "\f09e";

$hdd: "\f0a0";

$bullhorn: "\f0a1";

$bell: "\f0a2";

$certificate: "\f0a3";

$hand-right: "\f0a4";

$hand-left: "\f0a5";

$hand-up: "\f0a6";

$hand-down: "\f0a7";

$circle-arrow-left: "\f0a8";

$circle-arrow-right: "\f0a9";

$circle-arrow-up: "\f0aa";

$circle-arrow-down: "\f0ab";

$globe: "\f0ac";

$wrench: "\f0ad";

$tasks: "\f0ae";

$filter: "\f0b0";

$briefcase: "\f0b1";

$fullscreen: "\f0b2";

$group: "\f0c0";

$link: "\f0c1";

$cloud: "\f0c2";

$beaker: "\f0c3";

$cut: "\f0c4";

$copy: "\f0c5";

$paper-clip: "\f0c6";

$save: "\f0c7";

$sign-blank: "\f0c8";

$reorder: "\f0c9";

$list-ul: "\f0ca";

$list-ol: "\f0cb";

$strikethrough: "\f0cc";

$underline: "\f0cd";

$table: "\f0ce";

$magic: "\f0d0";

$truck: "\f0d1";

$pinterest: "\f0d2";

$pinterest-sign: "\f0d3";

$google-plus-sign: "\f0d4";

$google-plus: "\f0d5";

$money: "\f0d6";

$caret-down: "\f0d7";

$caret-up: "\f0d8";

$caret-left: "\f0d9";

$caret-right: "\f0da";

$columns: "\f0db";

$sort: "\f0dc";

$sort-down: "\f0dd";

$sort-up: "\f0de";

$envelope: "\f0e0";

$linkedin: "\f0e1";

$undo: "\f0e2";

$legal: "\f0e3";

$dashboard: "\f0e4";

$comment-alt: "\f0e5";

$comments-alt: "\f0e6";

$bolt: "\f0e7";

$sitemap: "\f0e8";

$umbrella: "\f0e9";

$paste: "\f0ea";

$lightbulb: "\f0eb";

$exchange: "\f0ec";

$cloud-download: "\f0ed";

$cloud-upload: "\f0ee";

$user-md: "\f0f0";

$stethoscope: "\f0f1";

$suitcase: "\f0f2";

$bell-alt: "\f0f3";

$coffee: "\f0f4";

$food: "\f0f5";

$file-text-alt: "\f0f6";

$building: "\f0f7";

$hospital: "\f0f8";

$ambulance: "\f0f9";

$medkit: "\f0fa";

$fighter-jet: "\f0fb";

$beer: "\f0fc";

$h-sign: "\f0fd";

$plus-sign-alt: "\f0fe";

$double-angle-left: "\f100";

$double-angle-right: "\f101";

$double-angle-up: "\f102";

$double-angle-down: "\f103";

$angle-left: "\f104";

$angle-right: "\f105";

$angle-up: "\f106";

$angle-down: "\f107";

$desktop: "\f108";

$laptop: "\f109";

$tablet: "\f10a";

$mobile-phone: "\f10b";

$circle-blank: "\f10c";

$quote-left: "\f10d";

$quote-right: "\f10e";

$spinner: "\f110";

$circle: "\f111";

$reply: "\f112";

$github-alt: "\f113";

$folder-close-alt: "\f114";

$folder-open-alt: "\f115";

$expand-alt: "\f116";

$collapse-alt: "\f117";

$smile: "\f118";

$frown: "\f119";

$meh: "\f11a";

$gamepad: "\f11b";

$keyboard: "\f11c";

$flag-alt: "\f11d";

$flag-checkered: "\f11e";

$terminal: "\f120";

$code: "\f121";

$reply-all: "\f122";

$mail-reply-all: "\f122";

$star-half-empty: "\f123";

$location-arrow: "\f124";

$crop: "\f125";

$code-fork: "\f126";

$unlink: "\f127";

$question: "\f128";

$info: "\f129";

$exclamation: "\f12a";

$superscript: "\f12b";

$subscript: "\f12c";

$eraser: "\f12d";

$puzzle-piece: "\f12e";

$microphone: "\f130";

$microphone-off: "\f131";

$shield: "\f132";

$calendar-empty: "\f133";

$fire-extinguisher: "\f134";

$rocket: "\f135";

$maxcdn: "\f136";

$chevron-sign-left: "\f137";

$chevron-sign-right: "\f138";

$chevron-sign-up: "\f139";

$chevron-sign-down: "\f13a";

$html5: "\f13b";

$css3: "\f13c";

$anchor: "\f13d";

$unlock-alt: "\f13e";

$bullseye: "\f140";

$ellipsis-horizontal: "\f141";

$ellipsis-vertical: "\f142";

$rss-sign: "\f143";

$play-sign: "\f144";

$ticket: "\f145";

$minus-sign-alt: "\f146";

$check-minus: "\f147";

$level-up: "\f148";

$level-down: "\f149";

$check-sign: "\f14a";

$edit-sign: "\f14b";

$external-link-sign: "\f14c";

$share-sign: "\f14d";

$compass: "\f14e";

$collapse: "\f150";

$collapse-top: "\f151";

$expand: "\f152";

$eur: "\f153";

$gbp: "\f154";

$usd: "\f155";

$inr: "\f156";

$jpy: "\f157";

$cny: "\f158";

$krw: "\f159";

$btc: "\f15a";

$file: "\f15b";

$file-text: "\f15c";

$sort-by-alphabet: "\f15d";

$sort-by-alphabet-alt: "\f15e";

$sort-by-attributes: "\f160";

$sort-by-attributes-alt: "\f161";

$sort-by-order: "\f162";

$sort-by-order-alt: "\f163";

$thumbs-up: "\f164";

$thumbs-down: "\f165";

$youtube-sign: "\f166";

$youtube: "\f167";

$xing: "\f168";

$xing-sign: "\f169";

$youtube-play: "\f16a";

$dropbox: "\f16b";

$stackexchange: "\f16c";

$instagram: "\f16d";

$flickr: "\f16e";

$adn: "\f170";

$bitbucket: "\f171";

$bitbucket-sign: "\f172";

$tumblr: "\f173";

$tumblr-sign: "\f174";

$long-arrow-down: "\f175";

$long-arrow-up: "\f176";

$long-arrow-left: "\f177";

$long-arrow-right: "\f178";

$apple: "\f179";

$windows: "\f17a";

$android: "\f17b";

$linux: "\f17c";

$dribbble: "\f17d";

$skype: "\f17e";

$foursquare: "\f180";

$trello: "\f181";

$female: "\f182";

$male: "\f183";

$gittip: "\f184";

$sun: "\f185";

$moon: "\f186";

$archive: "\f187";

$bug: "\f188";

$vk: "\f189";

$weibo: "\f18a";

$renren: "\f18b";

